:root {
    --cor-fundo: hsl(194, 74%, 54%);
    --cor-primaria: hsl(28, 7%, 96%);
    --cor-principal: hsl(0, 0%, 0%);
    --cor-hoover: hsl(0, 63%, 31%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(src/images/header.png);
    position: absolute;
    width: 1440px;
    height: 200px;
    max-width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center    
}

.bg {
    background-image: url(src/images/background.png);
    margin-top: 80vmin  ;
    width: 100vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.menu {
    border: 50px solid red;
    text-align: right;
    margin-left: 150vh;
    position: absolute;
    display: flex;
    align-items: flex-start;
}