* {
    margin: 0;
    padding: 0;
    
}

:root {
    --cor-fundo: hsl(194, 74%, 54%);
    --cor-primaria: hsl(28, 7%, 96%);
    --cor-principal: hsl(0, 0%, 0%);
    --cor-hoover: hsl(0, 63%, 31%);
}

body {
    overflow-x: hidden;
}

.header {
    background-image: url(src/images/header.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-image: url(src/images/background.png);
}

.hero {
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border-radius: 30px;
    background: url(src/images/pictures/home-page-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Nunito', sans-serif;
    color: var(--cor-primaria);
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    opacity: 80%;
    display: flex;
    position: relative;
    top: 185px;
    margin-left: 5px;
}

.description {
    font-family: 'Nunito', sans-serif;
    color: var(--cor-primaria);
    width: 250px;
    height: 50px;
    font-size: 0.8em;
    text-shadow: 2px 2px 4px #000000;
    text-align:left;
    opacity: 80%;
    display: flex;
    position: relative;
    top: 185px;
    margin-left: 5px;
}

.mainimg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    position: absolute;
    margin-top: 40px;
    width:100%;
    height:60px; 
}

.endtext{
    text-align: center;
    margin-top: 30px;
    color: var(--cor-primaria);
    text-shadow: 1px 1px 5px black;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px){
   .hero {
    width: 400px;
    height: 350px;
    margin-top: 0;
   }

   .title {
    font-size: 1.2em;
    top: 250px;
   }

   .description{
    font-size: 0.7em;
    width: 170px;
    top: 250px;
   }
}